.game {
    background-color: #1b3040;
    color: #bec5d2;
    font-size: 25px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    height: 90px;
    width: 825px;
    cursor: pointer;
    overflow: hidden;
  }

  .user-info{
    text-align: right;
    color: #9b9b9b;
    font-size: 16px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    position: relative;
    left: -3%;
    top: -170%;
    line-height: 20px;
  }

  .game:hover{
    color: #ffffff;
  }

  .image {
    height: 90px;
    width: 270px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
  }

  .title{
    font-size: 25px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    position: relative;
    top: -145%;
    left: 285px;
  }

  .rating{
    color: #9b9b9b;
    font-size: 12px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    position: relative;
    top: -180%;
    left: 285px;
  }

  .tags{
    color: #9b9b9b;
    font-size: 12px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    position: relative;
    top: -200%;
    left: 285px;
    height: 30px;
  }

  .price{
    color: #ffffff;
    font-size: 22px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    position: relative;
    top: -250px;
    left: 88%;
  }

  .price-group{
    position: relative;
    top: -255px;
    left: 88%;
  }

  .price-old{
    color: #9b9b9b;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    text-decoration: line-through;
    position: relative;
  }

  .price-new{
    color: #bee233;
    font-size: 22px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    position: relative;
    top: -30px;
  }

  .discount{
    height: 40px;
    width: 60px;
    background-color: #4c6b22;
    position: relative;
    top: -330px;
    left: 75%;
    transform: translateY(-50%);
  }

  .discount-text{
    color: #bee233;
    font-size: 22px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    position: relative;
    top: -28%;
    left: 50%;
    transform: translateX(-45%);
  }