body {
  background-image: url('assets/login_back.png');
    background-size: cover;
    color: #bec5d2;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    line-height: 3;
    overflow-x: hidden;
  }

.rectangle1 {
    width: 20000px;
    height: 75px;
    background: linear-gradient(to bottom, #2a2b2f, #1f2125);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  .ribbon-button-container {
    display: flex;
    align-items: flex-start;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .ribbon-button {
    background: linear-gradient(to bottom, #2a2b2f, #1f2125);
    color: #bec5d2;
    width: 210px;
    height: 75px;
    font-size: 25px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 300;
    margin: 0 0px;
    cursor: pointer;
    border: none;
  }

  .logo {
    width: 200px;
    height: 60px;
    background-image: url('assets/logo.svg');
    background-color: rgba(0, 0, 0, 0.0);
    margin: 10px 0px;
    cursor: pointer;
    border: none;
  }

  .ribbon-button:hover{
    color: white;
  }

  .rectangle2 {
    width: 20000px;
    height: 100px;
    background-color: #1b2838;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
  }

  .rectangle3 {
    width: 525px;
    height: 25px;
    background-color: #1b2838;
    top: 0;
    left: 0;
  }

  .rectangle4 {
    width: 795px;
    height: 25px;
    background-color: #1b2838;
    top: 0;
    left: 0;
  }

  .section-button-container{
    display: flex;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  .section-button{
    background-color: #1b2838;
    color: #3994bc;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    width: 150px;
    height: 25px;
    margin: 0 0px;
    cursor: pointer;
    border: none;
  }

  .section-button-active{
    background-color: rgba(0, 0, 0, 0.0);
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    width: 150px;
    height: 25px;
    margin: 0 0px;
    cursor: pointer;
    border: none;
  }

  .section-button:hover{
    color: white;
  }

  .rectangle5 {
    width: 870px;
    height: 1230px;
    background: linear-gradient(to bottom, #2a475e, #1b2838);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -4;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
  }

  .search-rect {
    width: 275px;
    height: 310px;
    position: absolute;
    top: 150px;
    left: 1.5%;
    background: linear-gradient(to bottom, #2a475e, #1b2838);
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
    z-index: -3;
  }

  .search-bar {
    background-color: #5577a1;
    color: #ffffff;
    width: 190px;
    height: 25px;
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
  }

  .number-field {
    background-color: #5577a1;
    color: #ffffff;
    width: 140px;
    height: 25px;
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    margin: 0 9px;
  }

  .number-field2 {
    background-color: #5577a1;
    color: #ffffff;
    width: 140px;
    height: 25px;
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    margin: 0 6px;
  }

  .search-bar-combo {
    width: 250px;
    position: absolute;
    top: 25px;
    left: 25px;
  }
  
  input[type="text"]::placeholder {
    color: #232323;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
  }

  .dropdown {
    background-color: #5577a1;
    color: #ffffff;
    width: 90px;
    height: 25px;
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    margin: 0 5px;
  }

  .dropdown2 {
    background-color: #5577a1;
    color: #ffffff;
    width: 194px;
    height: 25px;
    border: none;
    font-size: 15px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 400;
    margin: 0 5px;
  }

  .checkbox {
    width: 15px;
    height: 15px;
    border: none;
    margin: 0px 10px;
    
  }

  .games-position {
    width: 825px;
    left: 50%;
    top:150px;
    transform: translateX(-50%);
    position: absolute;
    z-index: -2;
    justify-content: center;
  }

  .page-number{
    position: relative;
    z-index: -2;
    margin-top: 20px;
    text-align: center;
  }

  .big-title{
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 200;
    font-size: 70px;
  }

  .login-button2{
    background: linear-gradient(to right, #06beff, #2d73ff);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 48px;
    width: 240px;
    font-size: 17px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    margin-top: 40px;
    position: relative;
    top: -120px;
    left: 15px;
    margin: 50px;
  }

  .login-button2:hover{
    background: linear-gradient(to right, #55d2ff, #2d73ff);
  }